@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {

  --primary-bg-clr:rgb(244,246,238);
  --secondary-bg-clr:rgb(139,142,156);
  --primary-accent-clr: rgb(81,84,99);
  --secondary-accent-clr: rgb(13, 18, 16);

  --ff-Mo-: 'Montserrat', sans-serif;
  --ff-Bo-: 'Libre Bodoni', serif;

  --fw-Bo-4: 400;
  --fw-Bo-5: 500;
  --fw-Bo-6: 600;

  --fw-Mo-3: 300;
  --fw-Mo-4: 400;
  --fw-Mo-5: 500;
  --fw-Mo-6: 600;

  --fs-n: 1rem;
  --fs-m: 3rem;
  --fs-l: 5rem;

}

html {
  scroll-margin-top: 2rem;
}

body {
  font-size: 16px;
  width: 100%;
  left: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: .25rem;
}
body::-webkit-scrollbar-track {
  background-color: beige;
}
body::-webkit-scrollbar-thumb {
  background-color: black
}



h1 {
  font-family: var(--ff-Bo-);
}
h2 {
  font-family: var(--ff-Bo-);
  text-align: center;
}
h3 {
  font-family: var(--ff-Bo-);
}

p{
  font-family: var(--ff-Mo-);
  text-align: justify;
}

label{
  font-family: var(--ff-Mo-);
}

#signature{
  font-family: var(--ff-Bo-);
  font-weight: var(--fw-Bo-6);
}

section {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.nav-languages {
  font-family: var(--ff-Mo-);
}

section.home{
  position: relative;
}

.home-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-intro {
  font-size: var(--fs-n);
  text-align: center;
}

/* ==============================================================  */
/*                  sidebar nav menu                               */
/* ==============================================================  */

@media screen and (max-width: 734px) {

  .nav-section-wrapper {
    top: 30vh;
    left: 0;
    position: fixed;
    display: inline-block;
    overflow: hidden;
    z-index: 11;
    padding: 1rem 0rem;
  }

  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    height: auto;
    padding: 0;
  }

  html:not([data-scroll='0']) .nav-section-wrapper:not(.active) {
    width: 2rem;
    overflow: hidden;
  }
  html:not([data-scroll='0']) .nav-section-wrapper:not(.active) a {
    visibility: hidden;
  }
  html:not([data-scroll='0']) .nav-section-wrapper:not(.active) li::after {
    visibility: hidden;
  }
  html:not([data-scroll='0']) .nav-section-wrapper:not(.active) li::before {
    visibility: hidden;
  }

  .nav-section > * {
    z-index: 12; /* place entries on top of the skewed header/footer */
    padding: 0 .3rem;
  }

  .nav-section::before, .nav-section::after {
    content: " ";
    transform: skewY(22deg);
    width: 100%;
    background: var(--secondary-bg-clr);
    color: var(--primary-bg-clr);
    height: auto;
    aspect-ratio: 2.5; /* approximate aspect ratio of 22deg */
    z-index: 11; /* place this below the actual entries */
  }
  .nav-section::before {
    transform-origin: top left;
  }
  .nav-section::after {
    transform-origin: bottom right;
  }

  .nav-section > * {
    background: var(--secondary-bg-clr);
    color: var(--primary-bg-clr);
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .nav-section > * > * {
    flex: 1;
    padding: 0.1rem 0;
    z-index: 12;
  }

  .selected > * {
    background: var(--primary-accent-clr);
  }
  .selected::before, .selected::after {
    background: var(--primary-accent-clr);
  }
  .nav-section > *::before, .nav-section > *::after {
    display: inline-block;
    content: " ";
    padding: 0.1rem 0;
    transform: skewX(-22deg);
    height: auto;
/*     width: .8rem; */
    aspect-ratio: 7; /* approximate aspect ratio of 22deg */
    z-index: 11; /* place this below the actual entries */
  }
  .selected:before {
    transform-origin: bottom right;
  }
  .selected::after {
    transform-origin: top left;
  }

  .nav-languages-wrapper {
    position: sticky;
    background: var(--secondary-bg-clr);
    color: var(--primary-fg-clr);
  }

  .nav-languages {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    margin: 0;
  }

  .nav-languages > * {
    display: flex;
    flex-direction: row;

    align-items: stretch;
    z-index: 12;
  }

  .nav-languages > .selected > *{
    background: var(--primary-accent-clr);
    color: var(--primary-bg-clr);
/*     background: var(--secondary-fg-clr); */
/*     color: var(--primary-bg-clr); */
    z-index: 12;
  }
  .nav-languages > .selected::before, .nav-languages > .selected::after {
    background: var(--primary-accent-clr);
    color: var(--primary-bg-clr);
  }
  .nav-languages > ::before, .nav-languages > ::after {
    background: var(--secondary-bg-clr);
    color: var(--primary-fg-clr);
    display: inline-block;
    content: " ";
    padding: 0.1rem 0;
    transform: skewX(-22deg);
    height: auto;
/*     width: .8rem; */
    aspect-ratio: 4; /* approximate aspect ratio of 22deg */
    z-index: 11; /* place this below the actual entries */
  }
}

/* ================================================ */
    /*      ======    End side bar   ========= */
/* ================================================ */


/* ================================================ */
          /* ========== Nav Bar ========== */
/* ================================================ */
header {
  background: var(--secondary-bg-clr);
  color: var(--primary-fg-clr);
  font-family: var(--ff-Bo-);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

nav a {
  text-decoration: none;
  color: inherit;
}


.nav-section {
  font-size: 1.8rem;
}

.nav-section a {
  color: var(--primary-bg-clr);
}

nav a:hover {
  color: var(--primary-bg-clr);
}

.nav-languages > li:hover {
  background-color: var(--primary-accent-clr);
  color: var(--primary-bg-clr);
}

/*  ============================================
            navbar for larger screens
    ============================================*/
@media screen and (min-width: 735px) {
  html {
    scroll-padding-top: 3.5rem;
  }

  header {
    display: grid;
    grid-template-columns: auto auto;
    background: var(--secondary-bg-clr);
    color: var(--primary-bg-clr);
    font-family: var(--ff-Bo-);
    position: fixed;
    padding: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    top: 2rem;
    margin-top: 0;
  }

  nav {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: .3rem;
  }

  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
  }

  nav a {
    opacity: 1;
    position: relative;
    padding-right: .1rem;
    margin-right: .3rem;
  }

  .nav-section {
    font-size: 2rem;
  }

  .nav-section a::before {
    content: '';
    display: block;
    height: 3px;
    background: var(--primary-bg-clr);
    position: absolute;
    bottom: -.55em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 250ms;
  }

  .nav-section a:hover::before {
    transform: scale(1, 1);
  }


}
/*  =========================================================== */
    /* ================ end of navbar ====================== */
/*  =========================================================== */

.odds {
  background-image: linear-gradient(180deg,
    var(--secondary-bg-clr) 5%,
    var(--primary-bg-clr));
}

.evens {
  background-image: linear-gradient(180deg,
    var(--primary-bg-clr) 50%,
    var(--secondary-bg-clr));
}
.home-content {
  text-align: center;
}

section.home {
  background-image: url(images/CrisBoardwalkMobile.jpg);
  background-size: cover;
}

section.bio {
  flex-direction: column;
}

.wrapper-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:fit-content;
  margin: 3rem;
  padding: 3rem;
  z-index: 2;
}

img#signature{
  width: clamp(7em, 30vw, 50vw);
}

section.music {
  background-color: var(--primary-bg-clr);
  display: flex;
  flex-direction: column;
}

.music-title {
  margin: 2rem 0;
  text-align: center;
}

.music-about {
  padding: 3rem;
}

.music-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.music-sub ul {
  list-style: none;
  padding: 0;
}

.music-notes {
  width: 100%;
  object-fit: cover;
}

.wrapper-portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}

.portrait {
  object-fit: contain;
}

.wrapper-video {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-top: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  z-index: 2;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.wrapper-contact {
  width: 80%;
  margin: 1rem 1rem;
}

.wrapper-contact h2 {
  margin-top: 0;
}

.wrapper-contact form {
  display: flex;
  flex-direction: column;
}

.wrapper-contact label,
.wrapper-contact input,
.wrapper-contact textarea,
.wrapper-contact button {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  padding: .0rem;
}

.wrapper-contact input,
.wrapper-contact textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.wrapper-icons {
  display: flex;
  gap: 2rem;;
  justify-content: space-evenly;
}

.wrapper-icons i {
  font-size: 2rem;
}

#fb{
  color: blue;
  background-color: white;
  padding: .2rem;
  border-radius: 10%;
}

#insta{
  color: transparent;
  background:
    linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 10%;
  color: white;
  padding: .2rem;
}

#spot{
  color: green;
  background-color: black;
  border-radius: 10%;
  padding: .2rem;
}

#whats{
  color: white;
  background-color: green;
  border-radius: 10%;
  padding: .2rem;
}

/* ================================================================ */
/* =====================    Larger Screen Start  ================== */
/* ================================================================ */

@media screen and (min-width: 735px) {
  body::-webkit-scrollbar {
      width: .50rem;
    }

  body::-webkit-scrollbar-track {
    background-color: var(--primary-bg-clr);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-accent-clr)
  }

  section.home {
    background-image: url(images/CrisBoardwalk2400.jpg);
    background-size: cover;
  }

  /* .wrapper-portrait {

  } */

  .wrapper-video {
    flex-direction: column;
  }

  .container {
    display: flex;
  }
  #videos {
      display: grid;
      flex-grow: 1;
      max-width: 100%;
      gap: .5rem;
      padding: .5rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "video1 video1 video1 video1"
        "video1 video1 video1 video1"
        "video2 video2 video3 video3"
        "video2 video2 video3 video3";
  }
  #video1{
    grid-area: video1;
  }
  #video2{
    grid-area: video2;
  }
  #video3{
    grid-area: video3;
  }
  section.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .wrapper-contact {
    width: 80%;
    margin: 1rem 1rem;
  }

  .wrapper-contact h2 {
    margin-top: 0;
  }

  .wrapper-contact form {
    display: flex;
    flex-direction: column;
  }

  .wrapper-contact label,
  .wrapper-contact input,
  .wrapper-contact textarea,
  .wrapper-contact button {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    padding: .5rem;
  }

  .wrapper-contact input,
  .wrapper-contact textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .wrapper-icons {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 2rem;
  }
}
/* ======================================================== */
/* ===========    End of Large Screen   =================== */
/* ======================================================== */
